* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.ufc {
  color: #DAA520;
  font-family: 'Fugaz One', sans-serif;
}

.fighting {
  color: white;
  margin-left: 5px;
  font-family: 'Fugaz One', sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #DAA520;
}

.top-fighters {
  padding: 100px 0;
  background: #000;
  width: 100%;
  overflow: hidden; /* Garante que nada saia da tela */
}

.content-wrapper {
  width: 1200px; /* Largura fixa */
  margin: 0 auto;
  text-align: center;
}

.section-subtitle {
  color: #DAA520;
  letter-spacing: 4px;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 50px;
}

.fighters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fighter-card {
  width: 350px; /* Card maior para preencher o desktop */
  height: 500px;
  background: linear-gradient(180deg, #111 0%, #000 100%);
  border: 1px solid #222;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.img-box img {
  width: 100%;
  filter: grayscale(1) brightness(0.6); /* imagem em preto e branco */
  transition: 0.5s;
}

.info-box {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
}

.category {
  color: #DAA520;
  font-size: 0.7rem;
  font-weight: bold;
}

.info-box h4 {
  font-family: 'Fugaz One', sans-serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 5px 0;
}

.line {
  width: 40px;
  height: 3px;
  background: #DAA520;
  transition: 0.5s;
}

.fighter-card:hover {
  border-color: #DAA520;
  box-shadow: 0 0 40px rgba(218, 165, 32, 0.15);
}

.fighter-card:hover img {
  filter: grayscale(0) brightness(1); /* deixando colorido */
  transform: scale(1.05);
}

.fighter-card:hover .line {
  width: 100%; /* A linha dourada cresce embaixo do nome */
}

.footer {
  background: #0a0a0a;
  color: white;
  padding: 50px 80px;
  border-top: 2px solid #DAA520;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-logo {
  max-width: 300px;
}

.footer-logo p {
  margin-top: 10px;
  color: #ccc;
}

.footer-links,
.footer-contato {
  display: flex;
  flex-direction: column;
}

.footer-links h3,
.footer-contato h3 {
  color: #DAA520;
  margin-bottom: 15px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #DAA520;
}

.footer-contato p {
  color: #ccc;
  margin-bottom: 8px;
}
.footer-contato a {
  color: #DAA520;
  text-decoration: none;
  font-weight: bold;
   display: inline-flex;
  align-items: center;
  gap: 8px;
}

.footer-contato a:hover {
  text-decoration: underline;
}


.fugaz-font {
  font-family: 'Fugaz One', sans-serif;
}


.hero {
  height: 85vh;
  background: url("../img/cinturao.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-left: 5px solid #DAA520; 
  max-width: 800px;
}

.hero h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.highlight { color: #DAA520; }

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.btn-primary {
  background: #DAA520;
  color: #000;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-secondary {
  border: 2px solid #DAA520;
  color: #DAA520;
  padding: 13px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-primary:hover { background: #fff; }
.btn-secondary:hover { background: #DAA520; color: #000; }


.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 5%;
  /* Cria um fundo escuro que vai do preto absoluto para um cinza bem profundo */
  background: linear-gradient(to bottom, #000, #111);
}

.card {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  max-width: 350px;
  border-bottom: 3px solid transparent;
  transition: 0.4s;
}

.card i {
  font-size: 40px;
  color: #DAA520;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.card p {
  color: #bbb;
  font-size: 0.9rem;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #DAA520;
  background: #222;
}